body {
  background-color: white;
}

/* div {
  background-color: white;
  align-content: center;
  text-align: center;
} */

/* p {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
} */

h1 {
  color: black;
  text-decoration: underline;
  text-decoration-color: white;
}

.middle {
  /* background-color: white; */
  color: black;
  margin-top: 300px;
  text-align: center;
  /* text-decoration: underline;
  text-decoration-color: white; */

}
